body {
  margin: 0 auto;
}

.photo-block {
  background:
  url("../img/stand.jpg") center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
   z-index:-100;
   max-height: 700px;
   margin-bottom: 0px;


   .jumbotron {
     background-color: transparent !important;
     background:
     linear-gradient(
           rgba(0, 0, 0, 0.3),
           rgba(0, 0, 0, 0.3)
         );
     margin-top: 100px;
     h1 {
       font-family: 'Raleway', sans-serif;
       font-size: 70px;
       font-weight: 900;
       color: #EB3E33;
     }
     p {
       font-family: 'Raleway', sans-serif;
       font-size: 23px;
       font-weight: 500;
       color: white;

     }
     .btn-lg {
       font-size: 14px;
       font-weight: 600;
       padding-top: 20px;
       padding-bottom: 20px;
       word-spacing: 1px;
       border-radius: 4px;
       transition: all 0.4s ease-in-out !important;
     }
     .btn-lg:hover {
         background-color: #265986 !important;
     }
   }
}

.mid-block {
  .both-space {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .power-size {
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 60px;
  }
  .bigger {
    font-family: 'Raleway', sans-serif;
    font-size: 58px;
    font-weight: 900;
    color: #292929;
  }
  .icons-block {
    .w-block {
      width: 370px;
      height: 220px;

      display: table;
      margin: 0 auto;
      padding-top: 25px;
      background-color: #fff;
      border-radius: 3px;
    }
    h3 {
      font-family: 'Raleway', sans-serif;
      font-size: 27px;
      font-weight: 900;
      color: #292929;

      a {
        color: #292929;
        transition: all 0.4s ease-in-out;
      }
      a:hover {
        text-decoration: none;
        color: #337ab7;
      }
    }
    p {
      font-family: 'Raleway', sans-serif;
      font-size: 17px;
      font-weight: 300;
      color: #337ab7;
    }
  }
}

.episode-header-block {
  .b-white {
    background-color: #fff;
  }
  .both-space2 {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .inner1 {
    h1 {
      font-family: 'Raleway', sans-serif;
      font-size: 45px;
      font-weight: 900;
      color: #eb3e33;
    }
    .inner2 {
      .inner3 {
        width: 55%;
        hr {
          border-top: 2px solid black;
          margin-left: 80%;
        }
      }
    }
  }
}

.lower-block {
  background-image: url("../img/intersection.png");
  .bottom-space {
    padding-bottom: 30px;
  }
  h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 28px;
    font-weight: 900;
  }
  p {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 500 !important;
    max-width: 550px;
    .pop {
        color: #eb3e33 !important;
        font-weight: 600;
    }
  }
}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
 .photo-block {
   height: 370px;
   margin-top: -20px;

   .jumbotron {
     text-align: center;
   }
 }
}

@media only screen and (max-width: 420px) {
  .icons-block {
    .w-block {
      width: 280px !important;
      margin-bottom: 25px !important;
    }
  }
}

@media only screen and (max-width: 480px) {
  .photo-block {
    height: 600px !important;
    .jumbotron {
      h1 {
        font-size: 50px !important;
      }
      p {
        font-size: 20px !important;
      }
    }
  }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  .photo-block {
    height: 600px;
    margin-top: -20px;
    padding-left: 40px;
}

  .icons-block {
    .w-block {
      max-width: 370px !important;
      margin-bottom: 25px !important;
    }
  }
}

/* max-width */
@media only screen and (max-width: 767px) {
  /* NOW !!! */
  .photo-block {
    height: 550px !important;
    .jumbotron {
      h1 {
        font-size: 50px !important;
      }
      p {
        font-size: 20px !important;
      }
    }
  }

  .message-block {
    .bigger {
      font-size: 45px;
    }
    .power-size {
      font-size: 25px;
    }
  }

  .icons-block {
    .w-block {
      max-width: 370px !important;
      margin-bottom: 25px !important;
    }
  }

  .episode-header-block {
    .both-space2 {
      padding-top: 60px;
      padding-bottom: 60px;
    }
    .inner1 {
      .inner2 {
        .inner3 {
          width: 55%;
          hr {
            border-top: 2px solid black;
            margin-left: 80%;
          }
        }
      }
    }
  }

  .lower-block {
    p {
      margin-bottom: 60px;
    }
  }
}

@media only screen and (min-width: 767px) {
  .icons-block {
    .w-block {
      max-width: 370px !important;
      margin-bottom: 25px !important;
    }
  }

  .lower-block {
    p {
      margin-bottom: 60px;
    }
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  .photo-block {
    height: 700px !important;
    margin-top: -20px;

    .jumbotron {
      margin-top: 200px;
      text-align: left;
    }
  }
}

/* max-width */
@media only screen and (max-width: 991px) {
  .episode-header-block {
    .both-space2 {
      padding-top: 60px;
      padding-bottom: 60px;
    }
    .inner1 {
      h1 {

      }
      .inner2 {
        .inner3 {
          width: 55%;
          hr {
            border-top: 3px solid black;
            margin-left: 80%;
          }
        }
      }
    }
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  .photo-block {
    height: 600px;
    margin-top: -20px;
  }

  .icons-block {
    .w-block {
      max-width: 370px !important;
      margin-bottom: 25px !important;
    }
  }
}

@media only screen and (max-width: 1199px) {
  .big-foot-block {
    .d-space {
      margin-bottom: 30px;
    }
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  .photo-block {
    margin-top: -20px;
  }

  .icons-block {
    .w-block {
      max-width: 370px !important;
      margin-bottom: 25px !important;
      margin-right: 20px !important;
    }
  }
}

@media only screen and (max-width: 2000px) {
  .episode-header-block {
    .both-space2 {
      padding-top: 60px;
      padding-bottom: 60px;
    }
    .inner1 {
      .inner2 {
        .inner3 {
          width: 55.7%;
          hr {
            border-top: 2px solid black;
            margin-left: 80%;
          }
        }
      }
    }
  }
}
